emacs/eshell/
emacs/irony/
emacs/url/
emacs/games/
emacs/rake.cache
emacs/network-security.data
emacs/projectile-bookmarks.eld
emacs/projectile.cache
emacs/transient
emacs/.dap-breakpoints
emacs/.cache
.lein/repl-history
.lein/self-installs
.lein/credentials.clj
emacs/.lsp*
