[Desktop Entry]
Name=1Password
Comment=Wine Program
Exec=wine /home/worace/.wine/drive_c/Program\ Files/1Password\ 4/1Password.exe
Icon=/home/worace/.wine/drive_c/Program\ Files/1Password\ 4/1Password.ico
Terminal=false
Type=Application
Categories=Office;
GenericName=1Password
